:root {
  background: grey;
  position: absolute;
  left: 0;
  right: 0;
}

header {
  text-align: right;
}

header .navbar {
  display: inline;
  text-align: right;
  width: fit-content;
  background-color: red;
  padding: 0.5rem;
}

header .navbar li {
  display: inline;
  margin: 1rem;
}

.profile {
  text-align: center;
  background-color: bisque;
  width: 25%;
  height: 50%;
  padding: 1rem;
}

.profile img {
  height: 10rem;
  width: 10rem;
}

.profile h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
}

.profile h2 {
  font-size: 1rem;
  font-weight: 400;
}

.profile hr {
  width: 60%;
}

.profile ul {
  display: inline;
}

.profile li {
  font-size: 1.5rem;
  display: inline;
  margin: 0.5rem;
}
